<div class='row'>
    {{#each (filter-by "ordinal" 1 attachments) as |attachment index|}}
        <div class='col-xs-12 col-md-6'>
            <label>{{t 'definitions.verbatim-field'}} {{one-index index}}</label>
            {{textarea
                value=attachment.originalAttachment.remarks
                class='form-control input-sm verbatim'
            }}
        </div>
    {{/each}}
    {{#each (filter-by "ordinal" 0 attachments) as |attachment index|}}
        <div class='col-xs-12 col-md-6'>
            <label>{{t 'definitions.comment-field'}} {{one-index index}}</label>
            {{textarea
                value=attachment.originalAttachment.remarks
                class='form-control input-sm'
            }}
        </div>
    {{/each}}
</div>