{{input
    type="text"
    class="form-control input-sm"
    value=value

    key-down="onKeyDown"
    focus-in="onFocus"

    placeholder=(t (if placeholder placeholder 'definitions.type-to-search'))
    disabled=disabled
}}

{{#unless removeCreate}}
    <div class="input-group-btn">
        <button disabled title="Create new(not supported yet)" type="button" class="btn btn-primary" aria-label="Add">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
{{/unless}}

{{#if isDropdownVisible}}
    <ul class="autocomplete-input__dropdown">
        {{#each previewData as |preview index|}}
            <li data-index={{index}} {{action "onItemClick" preview}}>
                {{#if hasBlock}}
                    {{yield preview}}
                {{else}}
                    {{get preview displayField}}
                {{/if}}
            </li>
        {{else}}
            <li>{{t 'definitions.no-result'}}</li>
        {{/each}}
    </ul>
{{/if}}