<div class="dwcm-single-determination__header">
    <div class="pull-left dwcm-single-determination__current">
        {{input type='checkbox' checked=model.isCurrent}}
    </div>
    <i
        class="clickable glyphicon glyphicon-remove-sign" {{action "remove"}}
    ></i>
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="definitions.name"

            storeName='taxon'

            displayField='fullName'
            filterField='fullName'
            itemSelected=(action 'setTaxonomy')
        }}
    </div>
    {{dwcm-textfield width=3 label='fields.labels.determination.confidence' value=model.confidence}}
    {{dwcm-textfield width=3 label='fields.labels.determination.method' value=model.method}}
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="fields.labels.determination.determiner"

            storeName='agent'

            displayField='fullName'
            filterField='lastName'
            itemSelected=(action 'setDeterminer')
        }}
    </div>
    <div class="col-md-4 col-xs-6">
        <div class="form-group">
            <label>
                {{t 'fields.labels.determination.determined-date'}}:
            </label>
            {{#bs-datetimepicker
                date=model.determinedDate
                updateDate=(action (mut model.determinedDate))
                format='YYYY-MM-DD'
                forceDateOutput=true
            }}
                {{
                    input disabled=disabled class="form-control"
                    name="Date" placeholder=(t 'fields.placeholder.date-format')
                }}
            {{/bs-datetimepicker}}
        </div>
    </div>
    {{dwcm-textfield width=2 label='fields.labels.determination.type-status' value=model.typeStatus}}
</div>
<div class="row">
    {{dwcm-field-placeholder disabled=true width=12 label='Taxonomi, bestämmare, datum'}}
</div>