{{#if label}}
    <label class="control-label">
        {{t label}}:
    </label>
{{/if}}
{{#if labelAction}}
    <a class="pull-right clickable" {{action 'runLabelAction'}}>
        {{t actionText}}
    </a>
{{/if}}

{{yield}}

{{autocomplete-input
    value=value
    disabled=disabled
    storeName=storeName
    displayField=displayField
    filterField=filterField
    multiSelect=multiSelect

    itemSelected=(action this.attrs.itemSelected)
    isInvalid=isInvalid
    hasSelected=hasSelected
}}