{{#dwcm-field-group identifier="dwcm-collecting-event"}}
    <div class="row">
        <div class="col-xs-8">
            {{dwcm-autocomplete-textfield label="fields.labels.collecting_event"}}
        </div>
        {{dwcm-field-placeholder width=4 label='Insamlingsmetod'}}
    </div>
    <div class="row">
        {{dwcm-field-placeholder width=6 label='Insamlingsdatum(åååå/mm/dd)'}}
        <div class="col-xs-6">
            {{dwcm-autocomplete-textfield label="fields.labels.collector"}}
        </div>
    </div>
    <div class="row">
        {{dwcm-field-placeholder width=6 label='Datum'}}
        {{dwcm-field-placeholder width=6 label='Insamlare'}}
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{dwcm-autocomplete-textfield label="fields.labels.collecting_place"}}
        </div>
        {{dwcm-field-placeholder width=3 label='Land'}}
        {{dwcm-field-placeholder width=3 label='...eller högre geografi'}}
    </div>
    <div class="row">
        {{dwcm-field-placeholder width=6 label='Lokal'}}
        {{dwcm-field-placeholder width=3 label='Fältrubrik'}}
        {{dwcm-field-placeholder width=3 label='Fältrubrik'}}
    </div>
{{/dwcm-field-group}}
