{{#dwcm-field-group identifier="dwcm-preparation"}}
    {{index}}
    <div class="row {{unless model.preparations.length 'closed'}}">
        {{dwcm-field-placeholder width=3 label='Livsstadie'}}
        {{dwcm-field-placeholder width=1 label='Kön'}}
        {{dwcm-field-placeholder width=2 label='Kondition'}}
        {{dwcm-field-placeholder width=6 label='Mätningar'}}
    </div>
    {{#each model.preparations as |preparation|}}
        {{dwcm-single-preparation model=preparation remove=(action 'removePreparation')}}
    {{/each}}
    <a class="clickable" {{action "addPreparation"}}>
        <i class="glyphicon glyphicon-plus"></i> Lägg till del/preparation
    </a>
{{/dwcm-field-group}}
