<i class="remove clickable glyphicon glyphicon-remove-circle" {{action "remove"}}></i>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-6">
            {{
                dwcm-autocomplete-textfield
                label='fields.labels.preparation.preparation-type'

                storeName='prep-type'

                displayField='name'
                filterField='name'

                removeCreate=true
                itemSelected=(action 'setPreparationType')
            }}
        </div>
        {{dwcm-field-placeholder disabled=true width=3 label='Förvaringssätt'}}
        {{dwcm-textfield
            width=3
            label='fields.labels.preparation.status'
            value=model.status
        }}
    </div>
    <div class="row">
        {{dwcm-textfield
            width=3 label='fields.labels.preparation.part'
            value=model.description
        }}
        {{dwcm-textfield
            type='number'
            width=1
            label='fields.labels.preparation.count'
            value=model.countAmt
        }}
        {{dwcm-field-placeholder disabled=true width=2 label='Kondition'}}
        <div class="col-xs-6">
            {{dwcm-autocomplete-textfield
                removeCreate=true
                label='fields.labels.preparation.storage'

                storeName='storage'

                displayField='fullName'
                filterField='fullName'

                removeCreate=true
                itemSelected=(action 'setStorage')

            }}
        </div>
    </div>
</div>
