<i class="remove clickable glyphicon glyphicon-remove-circle" {{action "remove"}}></i>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-6">
            {{
                dwcm-autocomplete-textfield
                label='fields.labels.preparation-type'

                storeName='prep-type'

                displayField='name'
                filterField='name'

                removeCreate=true
                itemSelected=(action 'setPreparationType')
            }}
        </div>
        {{dwcm-field-placeholder disabled=true width=3 label='Förvaringssätt'}}
        {{dwcm-field-placeholder disabled=true width=3 label='Status'}}
    </div>
    <div class="row">
        {{dwcm-field-placeholder disabled=true width=4 label='Del'}}
        {{dwcm-textfield type='number' width=2 label='fields.labels.count' value=model.countAmt}}
        {{dwcm-field-placeholder disabled=true width=3 label='Placering'}}
        {{dwcm-field-placeholder disabled=true width=3 label='Kondition'}}
    </div>
</div>
