{{#dwcm-field-group identifier="dwcm-collecting-event"}}
    <div class="row">
        <div class="col-xs-8">
            {{
                dwcm-autocomplete-textfield
                label="fields.labels.collecting_event"

                storeName="collecting-event"
                filterField="collectingEventID"
                displayField="id"
                itemSelected=(action "selectedCollectingEvent")

                removeCreate=true
            }}
        </div>

        {{#if createOrSelect}}
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="input-group">
                        <a class="btn btn-link" {{action "enableCreate"}}>Skapa nytt</a>
                    </div>
                </div>
            </div>
        {{else}}
            {{
                dwcm-textfield width=4
                label='fields.labels.collecting-event.method'
                disabled=disableFields
                value=model.collectingEvent.method
            }}
        {{/if}}
    </div>

    {{#unless createOrSelect}}
        <div class="row">
            {{
                dwcm-textfield
                width=6
                label='fields.labels.collecting-event.start-date'
                disabled=disableFields
                value=model.collectingEvent.startDate
            }}
            <div class="col-xs-6">
                {{
                    dwcm-autocomplete-textfield label="fields.labels.collector" disabled=disableFields
                }}
            </div>
        </div>
        <div class="row">
            {{
                dwcm-textfield
                width=6 label='definitions.date'
                disabled=disableFields

                value=model.collectingEvent.startDate
            }}
            {{dwcm-field-placeholder width=6 label='Insamlare' disabled=disableFields}}
        </div>
        <div class="row">
            <div class="col-xs-6">
                {{
                    dwcm-autocomplete-textfield
                    label="fields.labels.collecting_place"
                    disabled=disableFields
                    hasSelected=model.collectingEvent.locality

                    displayField='localityName'
                }}
            </div>
            {{dwcm-field-placeholder width=3 label='Land' disabled=disableFields}}
            {{dwcm-field-placeholder width=3 label='...eller högre geografi' disabled=disableFields}}
        </div>
        <div class="row">
            {{dwcm-field-placeholder width=6 label='Lokal' disabled=disableFields}}
            {{dwcm-field-placeholder width=3 label='Fältrubrik' disabled=disableFields}}
            {{dwcm-field-placeholder width=3 label='Fältrubrik' disabled=disableFields}}
        </div>
    {{else}}
        {{dwcm-collecting-event-view model=model.collectingEvent}}
    {{/unless}}
{{/dwcm-field-group}}
