<ul>
    <li>Insamlingsdatum: {{model.startDate}}</li>
    <li>Metod: {{model.method}}</li>

    <li>
        Fyndplats: {{model.locality.localityName}}({{model.locality.latitude1}}, {{model.locality.longitude1}})
    </li>
</ul>
