<div class="dwcm-single-determination__header">
    <div class="pull-left dwcm-single-determination__current">
        {{input type='checkbox' checked=model.isCurrent}}
    </div>
    <i
        class="clickable glyphicon glyphicon-remove-sign" {{action "remove"}}
    ></i>
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="definitions.name"

            storeName='taxon'

            displayField='fullName'
            filterField='fullName'
            itemSelected=(action 'setTaxonomy')
        }}
    </div>
    {{dwcm-textfield width=3 label='fields.labels.confidence' value=model.confidence}}
    {{dwcm-textfield width=3 label='fields.labels.method' value=model.method}}
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="fields.labels.determiner"

            storeName='agent'

            displayField='fullName'
            filterField='lastName'
            itemSelected=(action 'setDeterminer')
        }}
    </div>
    {{dwcm-field-placeholder width=3 label='Datum(åååå/mm/dd)'}}
    {{dwcm-field-placeholder width=3 label='Typstatus'}}
</div>
<div class="row">
    {{dwcm-field-placeholder width=12 label='Taxonomi, bestämmare, datum'}}
</div>