{{#dwcm-field-group identifier="field_group_preparation"}}
    <div class="row">
        {{dwcm-field-placeholder width=3 label='Livsstadie'}}
        {{dwcm-field-placeholder width=1 label='Kön'}}
        {{dwcm-field-placeholder width=2 label='Kondition'}}
        {{dwcm-field-placeholder width=6 label='Mätningar'}}       
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="row">
                {{dwcm-field-placeholder width=6 label='Preparationstyp'}}
                {{dwcm-field-placeholder width=3 label='Förvaringssätt'}}
                {{dwcm-field-placeholder width=3 label='Status'}}
            </div>
            <div class="row">
                {{dwcm-field-placeholder width=4 label='Del'}}
                {{dwcm-field-placeholder width=2 label='Antal'}}
                {{dwcm-field-placeholder width=3 label='Placering'}}
                {{dwcm-field-placeholder width=3 label='Kondition'}}
            </div>
         </div> 
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="row">
                {{dwcm-field-placeholder width=6 label='Preparationstyp'}}
                {{dwcm-field-placeholder width=3 label='Förvaringssätt'}}
                {{dwcm-field-placeholder width=3 label='Status'}}
            </div>
            <div class="row">
                {{dwcm-field-placeholder width=4 label='Del'}}
                {{dwcm-field-placeholder width=2 label='Antal'}}
                {{dwcm-field-placeholder width=3 label='Placering'}}
                {{dwcm-field-placeholder width=3 label='Kondition'}}
            </div>
         </div> 
    </div>
{{/dwcm-field-group}}
