<div class="panel-heading clickable" {{action "toggleCollapse"}}>
    {{t title}}
    {{#if counter}}
        ({{counter}})
    {{/if}}
    <i class=" pull-right glyphicon
            {{if collapsed 'glyphicon-plus-sign' 'glyphicon-minus-sign'}}
        "
    ></i>
</div>
<div class="panel-body {{if collapsed 'closed' ''}}">
    {{yield}}
</div>
