<div class="panel-heading">
    {{t title}}
    {{#if counter}}
        ({{counter}})
    {{/if}}
    <i class=" pull-right glyphicon clickable
            {{if collapsed 'glyphicon-plus-sign' 'glyphicon-minus-sign'}}
        "
        {{action "toggleCollapse"}}
    ></i>
</div>
<div class="panel-body {{if collapsed 'closed' ''}}">
    {{yield}}
</div>
