<div class="panel-heading">
    {{t title}}
    {{#if counter}}
        ({{counter}})
    {{/if}}
    {{#if collapsable}}
        <i class=" pull-right glyphicon clickable
                {{if collapsed 'glyphicon-plus-sign' 'glyphicon-minus-sign'}}
            "
            {{action "toggleCollapse"}}
        ></i>
    {{/if}}
</div>
{{yield (hash
    content=(
        component 'field-group/content'
        collapsed=collapsed
    )
    toolbar=(
        component 'field-group/toolbar'
    )
)}}