{{#unless isCreating}}
    <div class="col-xs-12 {{if displayMap 'hidden'}}">
        {{action-label
            text='definitions.create-new.2'
            label='fields.labels.collecting_place'
            action=(action 'enableCreate')
        }}
        {{#solr-autocomplete-input
            storeName='locality'
            displayField='localityName'
            entityType='locality'

            multiSelect=multiSelect

            itemSelected=(action this.attrs.update)
            filterKeys='disciplineID'

            item=selectedLocality
            class='rich'

            as |dropdownItem|
        }}
            <i class='row-icon glyphicon glyphicon-map-marker {{unless dropdownItem.latitude 'inactive'}}'></i>
            <p class='regular-row light'>{{dropdownItem.geography.displayName}}</p>
            <p class='regular-row {{if dropdownItem.latitude 'shrink'}}'>{{dropdownItem.localityName}}</p>
            {{#if dropdownItem.latitude}}
                <p class='regular-row right hidden-xs'>
                    <i class="glyphicon glyphicon-map-marker"></i>{{dropdownItem.location}}
                </p>
            {{/if}}
            <p class='timestamp hidden-xs'>
                {{t
                    'component.locality-selector.created-by'
                    date=(moment-format dropdownItem.timestampCreated 'LL')
                    name=dropdownItem.agent.fullName
                }}
            </p>
        {{/solr-autocomplete-input}}
        <a class="btn btn-primary btn-inside-form btn-xs clickable" {{action 'toggleMap'}}>
            {{t 'component.locality-selector.show-map'}}
        </a>
    </div>
    {{#if item}}
        <div class='col-xs-12 preview {{if displayMap 'hidden'}}'>
            <div class='row'>
                {{#if item.latitude}}
                    <div class='col-xs-5'>
                        {{#map-view
                            center=item.location
                            zoom=zoom
                        }}
                            {{#marker-layer
                                location=item.location
                                popupOpen=(readonly true)

                            }}
                                <p>
                                    <strong>{{item.localityName}}</strong>
                                    <br>{{locality.geography.displayName}}
                                </p>
                            {{/marker-layer}}
                        {{/map-view}}
                    </div>
                {{/if}}
                <div class='col-xs-6'>
                    <ul>
                        <li>
                            <span>{{t 'definitions.collecting-place' count=1}}:</span> {{item.localityName}}
                        </li>
                        <li>
                            <span>{{t 'definitions.geography'}}:</span> {{item.geography.displayName}}
                        </li>
                        <li>
                            <span>{{t 'definitions.coordinates'}}:</span> {{item.location}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if displayMap}}
        <div class='col-xs-12'>
            {{action-label
                text='component.locality-selector.hide-map'
                label='fields.labels.collecting_place'
                action=(action 'toggleMap')
            }}
        </div>
        <div class="col-xs-8 col-md-8">
            {{#map-view
                center=geography.centroid
                zoom=zoom
                boundsUpdate=(action (mut bounds)) as |map|
            }}
                {{#unless maximumReached}}
                    {{#marker-cluster-layer}}
                        {{#each localities as |locality|}}
                            {{#if locality.latitude}}
                                {{#marker-layer
                                    location=locality.location
                                    radius=7
                                    opacity=1

                                    popupOpen=locality.isOpen

                                    color=(
                                        if locality.highlighted '#bd0026' (
                                            if locality.hover '#fd8d3c' '#31a354'
                                        )
                                    )
                                }}
                                    <p>
                                        <strong>{{locality.localityName}}</strong>
                                        <br>{{locality.geography.displayName}}
                                    </p>
                                    <a
                                        class="btn btn-default btn-xs"
                                        {{action 'select' locality on='click'}}
                                    >
                                            {{t 'definitions.use'}}
                                    </a>
                                {{/marker-layer}}
                            {{/if}}
                        {{/each}}
                    {{/marker-cluster-layer}}
                {{/unless}}
            {{/map-view}}
        </div>
        <div class="col-xs-4 col-md-4">
            {{#solr-autocomplete-input
                storeName='geography'
                displayField='displayName'
                entityType='geography'
                sortBy='rankID'
                filterKeys='disciplineID'

                placeholder='component.locality-selector.search-geography'

                itemSelected=(action 'geographySelected')

                class='rich'

                as |dropdownItem|
            }}
                <i class='row-icon small glyphicon glyphicon-map-marker {{unless dropdownItem.validCentroid 'inactive'}}'></i>
                <p class='regular-row'>
                    {{make-bold dropdownItem.displayName match=dropdownItem.name}}
                </p>
            {{/solr-autocomplete-input}}
            <h4>
                {{t 'definitions.collecting-place' count=2}}, {{if maximumReached '+' ''}}{{localities.length}}{{t 'definitions.count'}}
            </h4>
            {{#if maximumReached}}
                <p>{{t 'component.locality-selector.to-many-results'}}</p>
            {{else}}
                <div class="list-group">
                    {{#each localities as |locality|}}
                        <a
                            class="list-group-item clickable"
                            {{action 'open' locality on='click'}}
                            {{action 'hover' locality true on='mouseEnter'}}
                            {{action 'hover' locality false on='mouseLeave'}}
                        >
                            <p class="list-group-item-text list-header">
                                <strong>{{locality.localityName}}</strong>
                            </p>
                            <p class="list-group-item-text">
                                {{locality.geography.fullName}}
                            </p>
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/if}}
{{else}}
    <div class='col-xs-12 create'>
        <div class="header">
            <h4 class="pull-left">{{t 'component.locality-selector.new-locality'}}</h4>
            <a class="pull-right clickable" {{action 'disableCreate'}}>{{t 'component.locality-selector.select-existing'}}</a>
            <div class="clearfix"></div>
        </div>
        <div class='row'>
            <div class='col-xs-12 col-sm-6'>
                {{dwcm-textfield
                    label='component.locality-selector.locality-name'
                    value=newLocality.localityName
                }}
            </div>
            <div class='col-xs-12 col-sm-6'>
                <label class="control-label">
                    {{t 'definitions.geography'}}:
                </label>
                {{#solr-autocomplete-input
                    storeName='geography'
                    entityType='geography'
                    sortBy='rankID'
                    displayField='displayName'
                    filterKeys='disciplineID'
                    placeholder='component.locality-selector.search-geography'

                    itemSelected=(action (mut newLocality.geography))

                    class='rich'

                    as |dropdownItem|
                }}
                    <i class='row-icon small glyphicon glyphicon-map-marker {{unless dropdownItem.validCentroid 'inactive'}}'></i>
                    <p class='regular-row'>
                        {{make-bold dropdownItem.displayName match=dropdownItem.name}}
                    </p>
                {{/solr-autocomplete-input}}
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6'>
                {{#map-view
                    zoom=mapZoom center=mapLocation
                    onClick=(action 'onLocationUpdate')
                    onZoom=(action (mut mapZoom))
                }}
                    {{#if newLocality.validLocation}}
                        {{circle-marker-layer
                            location=newLocality.location
                            radius=uncertaintyRadiusPixels
                            color="#FF0000"
                        }}
                    {{/if}}
                {{/map-view}}
            </div>
            <div class='col-xs-6'>
                <div class='row'>
                    <div class='col-xs-12 col-md-5'>
                        {{dwcm-textfield
                            label='definitions.latitude'
                            value=newLocality.latitude
                        }}
                    </div>
                    <div class='col-xs-12 col-md-5'>
                        {{dwcm-textfield
                            label='definitions.longitude'
                            value=newLocality.longitude
                        }}
                    </div>
                    <div class='col-xs-12 col-md-1'>
                        <label>&nbsp;</label>
                        <button
                            class="btn btn-primary btn-sm glyphicon glyphicon-record"
                            {{action this.centerMap}}
                        ></button>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 col-md-7'>
                        <label>{{t 'component.locality-selector.uncertainty-radius'}}:</label>
                        {{x-slider class='form-control input-sm'
                            min=15 step=5 max=5000 value=newLocality.uncertaintyRadius
                        }}
                    </div>
                    <div class='col-xs-12 col-md-3'>
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group input-group-sm">
                                {{input type="number"
                                    min=5 max=5000 class="form-control"
                                    value=newLocality.uncertaintyRadius
                                }}
                                <div class="input-group-addon">m</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/unless}}