<div class="container dwcm-collectionobject-new__body {{if validationError 'validation-visible' ''}}">
    <div class="page-header">
        <h2>{{t 'collectionobject.new.title' name=entityType}}:</h2>
    </div>
    <ul class="nav nav-pills">
        {{#each-in groups as |identifier componentName|}}
            <li>
                <a class="clickable" {{action "navigationClick" identifier}}>{{t identifier}}</a>
            </li>
        {{/each-in}}
    </ul>
    <div id="validation-messages" class="alert alert-danger {{if validationError '' 'hidden'}}">
        <strong>{{t 'main.validation-message.save'}}</strong>
        <ul>
            {{#each model.validations.messages as |message|}}
                <li>{{message}}</li>
            {{/each}}
        </ul>
    </div>
    {{#each-in groups as |identifier componentName|}}
        {{component componentName title=identifier model=model}}
    {{/each-in}}
</div>

<footer class="footer">
    <div class="container">
        <div class="btn-toolbar">
            <a
                class="btn btn-success btn-sm"
                {{action 'submitForm'}}
            >
                {{t 'collectionobject.new.toolbar.save'}}
            </a>
            <div class="btn-group">
                <a class="btn btn-default btn-sm">
                    {{t 'collectionobject.new.toolbar.duplicate'}}
                </a>
                <a class="btn btn-default btn-sm">
                    {{t 'collectionobject.new.toolbar.print'}}
                </a>
            </div>
            <a class="btn btn-danger pull-right btn-sm">
                {{t 'collectionobject.new.toolbar.close'}}
            </a>
        </div>
    </div>
</footer>