<div class="container dwcm-collectionobject-new__body">
    <div class="page-header">
        <h2>{{t 'collectionobject.new.title' name=entityType}}: <small>#######</small></h2>
    </div>
    <ul class="nav nav-pills">
        {{#each fieldGroups as |group|}}
            <li><a href="#">{{group}}</a></li>
        {{/each}}
    </ul>
    {{#each fieldGroups as |group|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{group}}
            </div>
            <div class="panel-body">
            </div>
        </div>
    {{/each}}
</div>
<div class="container dwcm-collectionobject-new__toolbar">
    <div class="btn-toolbar">
        <a class="btn btn-success">{{t 'collectionobject.new.toolbar.save'}}</a>
        <div class="btn-group">
            <a class="btn btn-default">{{t 'collectionobject.new.toolbar.duplicate'}}</a>
            <a class="btn btn-default">{{t 'collectionobject.new.toolbar.print'}}</a>
        </div>
        <a class="btn btn-danger pull-right">{{t 'collectionobject.new.toolbar.close'}}</a>
    </div>
</div>