<div class="container dwcm-collectionobject-new__body {{if validationError 'validation-visible' ''}}">
    <div class="page-header">
        <h2>
            {{t 'collectionobject.new.title' name=(t type)}}:
            {{#x-select
                value=(readonly session.data.division)
                class="division-select pull-right form-control input-sm"
                action=(action 'updateDivision')
            }}
                {{#each-in configuration.configurations as |key value|}}
                    {{#x-option value=key}}
                        {{capitalize-string (t (concat 'definitions.type.' value.type))}}
                    {{/x-option}}
                {{/each-in}}
            {{/x-select}}
        </h2>
    </div>
    <ul class="nav nav-pills">
        {{#each-in groups as |identifier componentName|}}
            <li>
                <a class="clickable" {{action "navigationClick" identifier}}>{{t identifier}}</a>
            </li>
        {{/each-in}}
    </ul>
    <div id="validation-messages" class="alert alert-danger {{if validationError '' 'hidden'}}">
        <strong>{{t 'main.validation-message.save'}}</strong>
        <ul>
            {{#each model.validations.messages as |message|}}
                <li>{{message}}</li>
            {{/each}}            
        </ul>
    </div>
    {{#each-in groups as |identifier componentName|}}
        {{component componentName title=identifier model=model}}
    {{/each-in}}
</div>

<footer class="footer">
    <div class="container">
        <div class="btn-toolbar">
            <button
                class="btn btn-success btn-sm"
                disabled={{isSaving}}
                {{action 'submitForm'}}
            >                
                {{#if isSaving}}
                    {{t 'collectionobject.new.toolbar.saving'}}
                    <div class="spinner button-spinner"></div>
                {{else}}
                    {{t 'collectionobject.new.toolbar.save'}}
                {{/if}}
            </button>
            <!--
            <div class="btn-group">
                <a class="btn btn-default btn-sm">
                    {{t 'collectionobject.new.toolbar.duplicate'}}
                </a>
                <a class="btn btn-default btn-sm">
                    {{t 'collectionobject.new.toolbar.print'}}
                </a>
            </div>
            <a class="btn btn-danger pull-right btn-sm">
                {{t 'collectionobject.new.toolbar.close'}}
            </a>
            -->
        </div>
    </div>
</footer>