<div class="container dwcm-collectionobject-view">
    <div class="page-header">
        <h1>
            {{model.id}}{{if model.catalogNumber (concat ' / ' model.catalogNumber) ''}}
        </h1>
        {{t 'fields.labels.cataloger'}} {{model.agent.fullName}}, {{moment-format model.catalogedDate 'LL'}}
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{#field-group title='form-component-basic-data' collapsable=false as |fg|}}
                {{#fg.content}}
                    <ul>
                        <li>
                            {{#link-to 'collection.view' model.collection}}
                                {{model.collection.collectionName}}
                            {{/link-to}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.accession'}}:</span> {{model.accession.accessionNumber}}
                        </li>
                    </ul>
                {{/fg.content}}
            {{/field-group}}

            {{#field-group title='form-component-determination' collapsable=false as |fg|}}
                {{#fg.content}}
                    <ol>
                        {{#each model.determinations as |determination|}}
                            <li>
                                <ul>
                                    <li>
                                        <span>{{t 'definitions.name'}}:</span> {{determination.taxonName}}
                                    </li>
                                    <li>
                                        <span>{{t 'fields.labels.determination.determiner'}}:</span> {{determination.determinerName}}
                                    </li>
                                    <li>
                                        <span>{{t 'fields.labels.determination.type-status'}}:</span> {{determination.typeStatus}}
                                    </li>
                                </ul>
                            </li>
                        {{/each}}
                    </ol>
                {{/fg.content}}
            {{/field-group}}

            {{#field-group title='form-component-preparation' collapsable=false as |fg|}}
                {{#fg.content}}
                    <ul>
                        <li>
                            <span>{{t 'fields.labels.preparation.life-stage'}}:</span> {{model.objectAttribute.lifeStage}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.preparation.age'}}:</span> {{model.objectAttribute.age}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.preparation.sex'}}:</span> {{t
                                (concat 'definitions.' (if model.objectAttribute.sex model.objectAttribute.sex 'unknown'))
                            }}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.preparation.measurements'}}:</span> {{model.objectAttribute.measurements}}
                        </li>
                    </ul>
                    <ol>
                        {{#each model.preparations as |preparation index|}}
                            <li>
                                <ul>
                                    <li>
                                        <span>{{t 'fields.labels.preparation.preparation-type'}}:</span> {{preparation.preparationType.name}}
                                    </li>
                                    <li>
                                        <span>{{t 'fields.labels.preparation.count'}}:</span> {{#if preparation.countAmt}}{{preparation.countAmt}} {{t 'definitions.count'}}{{/if}}
                                    </li>
                                    <li>
                                        <span>{{t 'fields.labels.preparation.storage'}}:</span> {{preparation.storage.fullName}}
                                    </li>
                                </ul>
                            </li>
                        {{/each}}
                    </ol>
                    <div class='row'>
                        {{#each (filter-by "ordinal" 1 model.attachments) as |attachment index|}}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.verbatim-field'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm verbatim'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                        {{#each
                            (filter-by "isPublic" false (filter-by "ordinal" 0 model.attachments))
                            as |attachment index|
                        }}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.comment-field-private'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                        {{#each
                            (filter-by "isPublic" true (filter-by "ordinal" 0 model.attachments))
                            as |attachment index|
                        }}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.comment-field'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                    </div>
                {{/fg.content}}
            {{/field-group}}
        </div>
        <div class="col-xs-6">
            {{#field-group title='form-component-collecting-event' collapsable=false as |fg|}}
                {{#fg.content}}
                    {{attributes-list
                        model=model.collectingEvent
                        attributes=configuration.component.collectingEvent.preview.attributes
                    }}
                    <div class='row'>
                        {{#each (filter-by "ordinal" 1 model.collectingEvent.attachments) as |attachment index|}}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.verbatim-field'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm verbatim'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                        {{#each
                            (filter-by "isPublic" false (filter-by "ordinal" 0 model.collectingEvent.attachments))
                            as |attachment index|
                        }}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.comment-field-private'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                        {{#each
                            (filter-by "isPublic" true (filter-by "ordinal" 0 model.collectingEvent.attachments))
                            as |attachment index|
                        }}
                            <div class='col-xs-12 col-md-6'>
                                <label>{{t 'definitions.comment-field'}}</label>
                                {{textarea
                                    value=attachment.originalAttachment.remarks
                                    class='form-control input-sm'
                                    readonly=true
                                }}
                            </div>
                        {{/each}}
                    </div>
                {{/fg.content}}
            {{/field-group}}
            {{#if model.collectingEvent.locality.validLocation}}
                {{#field-group title='definitions.map' class='dwcm-collectionobject-view__map' collapsable=false as |fg|}}
                    {{#fg.content}}
                        {{#map-view
                            zoom=mapZoom
                            center=model.collectingEvent.locality.location
                            onZoom=(action (mut mapZoom))
                        }}
                            {{#circle-marker-layer
                                location=model.collectingEvent.locality.location
                                radius=(metersToPixels model.collectingEvent.locality.uncertaintyRadius mapZoom)

                                color='#FF0000'
                            }}
                                <p>{{model.collectingEvent.locality.localityName}}</p>
                            {{/circle-marker-layer}}
                        {{/map-view}}
                    {{/fg.content}}
                {{/field-group}}
            {{/if}}
        </div>
    </div>
</div>
