<div class="container dwcm-collectionobject-view">
    <div class="page-header">
        <h1>
            {{model.id}}{{if model.catalogNumber (concat ' / ' model.catalogNumber) ''}}
        </h1>
        {{t 'fields.labels.cataloger'}} {{model.cataloger.fullName}}, {{moment-format model.catalogedDate 'LL'}}
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{#dwcm-field-group title='form-component-basic-data'}}
                <ul>
                    <li>
                        <span>{{t 'fields.labels.collection'}}:</span> {{model.collection.collectionName}}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.accession'}}:</span> {{model.accession.accessionNumber}}
                    </li>
                </ul>
            {{/dwcm-field-group}}
            {{#dwcm-field-group title='form-component-determination'}}
                <ol>
                    {{#each model.determinations as |determination|}}
                        <li>
                            <ul>
                                <li>
                                    <span>{{t 'definitions.name'}}:</span> {{determination.taxonName}}
                                </li>
                                <li>
                                    <span>{{t 'fields.labels.determination.determiner'}}:</span> {{determination.determinerName}}
                                </li>
                                <li>
                                    <span>{{t 'fields.labels.determination.type-status'}}:</span> {{determination.typeStatus}}
                                </li>
                            </ul>
                        </li>
                    {{/each}}
                </ol>
            {{/dwcm-field-group}}
            {{#dwcm-field-group title='form-component-preparation'}}
                <ul>
                    <li>
                        <span>{{t 'fields.labels.preparation.life-stage'}}:</span> {{model.objectAttribute.lifeStage}}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.preparation.age'}}:</span> {{model.objectAttribute.age}}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.preparation.sex'}}:</span> {{t
                            (concat 'definitions.' (if model.objectAttribute.sex model.objectAttribute.sex 'unknown'))
                        }}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.preparation.measurements'}}:</span> {{model.objectAttribute.measurements}}
                    </li>
                </ul>
                <ol>
                    {{#each model.preparations as |preparation index|}}
                        <li>
                            <ul>
                                <li>
                                    <span>{{t 'fields.labels.preparation.preparation-type'}}:</span> {{preparation.preparationType.name}}
                                </li>
                                <li>
                                    <span>{{t 'fields.labels.preparation.count'}}:</span> {{#if preparation.countAmt}}{{preparation.countAmt}} {{t 'definitions.count'}}{{/if}}
                                </li>
                                <li>
                                    <span>{{t 'fields.labels.preparation.storage'}}:</span> {{preparation.storage.fullName}}
                                </li>
                            </ul>
                        </li>
                    {{/each}}
                </ol>
            {{/dwcm-field-group}}
        </div>
        <div class="col-xs-6">
            {{#dwcm-field-group title='form-component-collecting-event'}}
                <ul>
                    <li>
                        <span>{{t 'fields.labels.collector'}}:</span>
                        {{#each model.collectingEvent.collectors as |collector|}}
                            <span class="badge">
                                {{collector.agent.fullName}}
                            </span>
                        {{/each}}
                    </li>
                    <li>
                        <span>{{t 'definitions.date'}}:</span> {{model.collectingEvent.startDate}}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.collecting-event.method'}}:</span> {{model.collectingEvent.method}}
                    </li>
                    <li>
                        <span>{{t 'fields.labels.collecting_place'}}:</span> {{model.collectingEvent.locality.localityName}}
                    </li>
                </ul>
            {{/dwcm-field-group}}
            {{#if model.collectingEvent.locality.latitude1}}
                {{#dwcm-field-group title='definitions.map' class='dwcm-collectionobject-view__map'}}
                    {{#map-view center=model.collectingEvent.locality.location}}
                        {{#circle-marker-layer
                            location=model.collectingEvent.locality.location
                            radius=5 color='#bd0026'
                        }}
                            <p>{{model.collectingEvent.locality.localityName}}</p>
                        {{/circle-marker-layer}}
                    {{/map-view}}
                {{/dwcm-field-group}}
            {{/if}}
        </div>
    </div>
</div>