<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="row">
                        <div class="col-xs-12 col-md-6">
                <div class="form-group form-group-sm">
                    <label>
                        {{t 'component.collecting-event.start-date'}}:
                    </label>
                    {{date-picker
                        update=(action 'setDateWithPrecision' 'startDate')
                        validationMessage=(v-get model.collectingEvent 'startDate' 'message')
                        isValid=(v-get model.collectingEvent 'startDate' 'isValid')
                    }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group form-group-sm">
                    <label>
                        {{t 'component.collecting-event.end-date'}}:                        
                    </label>
                    {{date-picker
                        update=(action 'setDateWithPrecision' 'endDate')
                        validationMessage=(v-get model.collectingEvent 'endDate' 'message')
                        isValid=(v-get model.collectingEvent 'endDate' 'isValid')
                    }}
                </div>
            </div>
            <div class="col-xs-12">
                {{dwcm-textfield
                    width=6

                    placeholder='definitions.date'
                    value=model.collectingEvent.verbatimDate
                    class='verbatim'
                    
                                        
                    validationMessage=(v-get model.collectingEvent 'verbatimDate' 'message')
                    isInvalid=(v-get model.collectingEvent 'verbatimDate' 'isInvalid')
                }}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        {{#dwcm-autocomplete-textfield
            label="fields.labels.collector"

            multiSelect=true

            storeName="agent"
            filterField="lastName"
            displayField="fullName"
            itemSelected=(action "createCollector")
        }}
            <div class="label-group {{if model.collectingEvent.collectors.length '' 'closed'}}">
                {{#each model.collectingEvent.collectors as |collector|}}
                    <span class="label label-default">
                        {{collector.agent.fullName}} <i class="glyphicon glyphicon-remove clickable" {{action 'removeCollector' collector}}></i>
                    </span>
                {{/each}}
            </div>
        {{/dwcm-autocomplete-textfield}}
    </div>
</div>
{{partial 'partial/collecting-event/locality'}}