<div class="row">
    <div class="col-xs-12 col-sm-6">
        {{partial 'partial/collector-selector'}}
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                {{#validation/form-group}}
                    <label>{{t 'fields.labels.collecting-event.number'}}:</label>
                    {{input
                        value=model.collectingEvent.givenName
                        class='form-control'
                    }}
                {{/validation/form-group}}
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group form-group-sm">
                    <label>
                        {{t 'component.collecting-event.start-date'}}:
                    </label>
                    {{date-picker
                        update=(action 'setDateWithPrecision' 'startDate')
                        validationMessage=(v-get model.collectingEvent 'startDate' 'message')
                        isValid=(v-get model.collectingEvent 'startDate' 'isValid')
                    }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group form-group-sm">
                    <label>
                        {{t 'component.collecting-event.end-date'}}:                        
                    </label>
                    {{date-picker
                        update=(action 'setDateWithPrecision' 'endDate')
                        validationMessage=(v-get model.collectingEvent 'endDate' 'message')
                        isValid=(v-get model.collectingEvent 'endDate' 'isValid')
                    }}
                </div>
            </div>
            <div class="col-xs-12">
                {{#validation/form-group
                    message=(v-get model.collectingEvent 'verbatimDate' 'message')
                    isValid=(v-get model.collectingEvent 'verbatimDate' 'isValid')
                }}
                    {{input
                        value=model.collectingEvent.verbatimDate
                        placeholder=(t 'definitions.date')
                        class='form-control verbatim'
                    }}
                {{/validation/form-group}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        {{#validation/form-group}}
            <label>
                {{t 'fields.labels.collecting-event.verbatim-locality'}}:                        
            </label>
            {{input
                value=model.collectingEvent.verbatimLocality
                placeholder=(t 'fields.labels.collecting-event.verbatim-locality')
                class='form-control verbatim'
            }}
        {{/validation/form-group}}
    </div>
</div>
{{partial 'partial/collecting-event/locality'}}
<div class="row">
    <div class="col-xs-12 col-md-6">
        {{#validation/form-group}}
            <label>{{t 'component.collecting-event.habitat-substrate'}}:</label>
            {{input
                value=model.collectingEvent.remarks
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
    <div class="col-xs-12 col-md-6">
        {{#validation/form-group}}
            <label>{{t 'component.collecting-event.botany-description'}}:</label>
            {{input
                value=model.collectingEvent.description
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
</div>