<div class="row">
    <div class="col-xs-12">
        {{action-label
            label='fields.labels.collecting_event'
            text='component.collecting-event.create-new'
            action=(action 'enableCreate')
        }}
        {{#solr-autocomplete-input
            entityType='collectingevent'
            filterKeys='disciplineID'

            storeName="collecting-event"
            displayField="displayName"

            itemSelected=(action "selectedCollectingEvent")
            item=model.collectingEvent
            
            class='rich'

            as |autocompleteInput|
        }}
            {{autocompleteInput.inline}}
            {{#autocompleteInput.dropdown as |dropdownItem|}}
                <i class='row-icon glyphicon glyphicon-map-marker {{unless dropdownItem.locality.validLocation 'inactive'}}'></i>
                <p class='regular-row light'>
                    {{if dropdownItem.givenName (concat dropdownItem.givenName ': ')}}
                    {{dropdownItem.locality.geography.displayName}}
                </p>
                <p class='regular-row {{if dropdownItem.locality.validLocation 'shrink'}}'>
                    {{if dropdownItem.startDate (concat (moment-format dropdownItem.startDate 'LL') ', ')}}
                    {{dropdownItem.locality.localityName}}
                </p>
                {{#if dropdownItem.collectors.length}}
                    <p class='regular-row shrink'>
                        {{#each dropdownItem.collectors as |collector|}}
                            <span class="label label-default">
                                {{collector.agent.fullName}}
                            </span>
                        {{/each}}
                    </p>
                {{/if}}
                <p class='timestamp hidden-xs'>
                    {{t
                        'component.locality-selector.created-by'
                        date=(moment-format dropdownItem.timestampCreated 'LL')
                        name=dropdownItem.agent.fullName
                    }}
                </p>
                {{#if dropdownItem.locality.validLocation}}
                    <p class='regular-row right hidden-xs'>
                        <i class="glyphicon glyphicon-map-marker"></i>{{dropdownItem.locality.location}}
                    </p>
                {{/if}}
            {{/autocompleteInput.dropdown}}
        {{/solr-autocomplete-input}}
    </div>
</div>

{{#if model.collectingEvent}}
    <div class='row preview'>
        {{#if model.collectingEvent.locality.validLocation}}
            <div class='col-xs-5'>
                {{#map-view
                    center=model.collectingEvent.locality.location
                    zoom=mapZoom
                }}
                    {{#circle-marker-layer
                        location=model.collectingEvent.locality.location
                        popupOpen=(readonly true)
                        color='#FF0000'                        
                        radius=(metersToPixels model.collectingEvent.locality.uncertaintyRadius mapZoom)
                    }}
                        <p>
                            <strong>{{model.collectingEvent.locality.localityName}}</strong>
                            <br>{{model.collectingEvent.locality.geography.fullName}}
                        </p>
                    {{/circle-marker-layer}}
                {{/map-view}}
            </div>
        {{/if}}
        <div class='col-xs-6'>
            {{attributes-list
                model=model.collectingEvent
                attributes=configuration.preview.attributes
            }}
        </div>
    </div>
{{/if}}