{{#dwcm-field-group title=title identifier=title}}
    {{#unless isCreating}}
        <div class="row">
            <div class="col-xs-12">
                {{dwcm-autocomplete-textfield
                    label="fields.labels.collecting_event"

                    storeName="collecting-event"
                    filterField="text1"
                    displayField="givenName"
                    itemSelected=(action "selectedCollectingEvent")

                    labelAction=(action 'enableCreate')
                    actionText='definitions.create-new.1'
                }}
            </div>
        </div>
        {{#if model.collectingEvent}}
            {{dwcm-collecting-event-view model=model.collectingEvent}}
        {{/if}}
    {{else}}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group form-group-sm">
                            <label>
                                {{t 'fields.labels.collecting-event.start-date'}}:
                            </label>
                            {{#bs-datetimepicker
                                updateDate=(action (mut model.collectingEvent.startDate))
                                format='YYYY-MM-DD'
                                forceDateOutput=true
                                maxDate=(readonly model.collectingEvent.endDate)
                            }}
                                {{
                                    input disabled=disabled class="form-control"
                                    name="Date" placeholder=(t 'fields.placeholder.date-format')
                                }}
                            {{/bs-datetimepicker}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-group-sm">
                            <label>&nbsp;</label>
                            {{#bs-datetimepicker
                                updateDate=(action (mut model.collectingEvent.endDate))
                                format='YYYY-MM-DD'
                                forceDateOutput=true
                                maxDate=(now)
                            }}
                                {{
                                    input disabled=disabled class="form-control"
                                    name="Date" placeholder=(t 'fields.placeholder.date-format')
                                }}
                            {{/bs-datetimepicker}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            width=6

                            placeholder='definitions.date'
                            value=model.collectingEvent.verbatimDate
                            class='verbatim'
                        }}
                    </div>
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            label='fields.labels.collecting-event.method'
                            value=model.collectingEvent.method
                        }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            label='fields.labels.collecting-event.name'
                            value=model.collectingEvent.givenName
                            labelAction=(action 'selectExisting')
                            actionText='fields.labels.collecting-event.select-existing'
                        }}
                    </div>
                    <div class="col-xs-12">
                        {{#dwcm-autocomplete-textfield
                            label="fields.labels.collector"

                            multiSelect=true

                            storeName="agent"
                            filterField="lastName"
                            displayField="fullName"
                            itemSelected=(action "createCollector")
                        }}
                            <div class="label-group {{if model.collectingEvent.collectors.length '' 'closed'}}">
                                {{#each model.collectingEvent.collectors as |collector|}}
                                    <span class="badge">
                                        {{collector.agent.fullName}} <i class="glyphicon glyphicon-remove clickable" {{action 'removeCollector' collector}}></i>
                                    </span>
                                {{/each}}
                            </div>
                        {{/dwcm-autocomplete-textfield}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{locality-selector
                    update=(action 'selectedLocality')
                    item=model.collectingEvent.locality
                }}
            </div>
            <div class="col-xs-12 col-md-12">
                {{dwcm-textfield
                    label='fields.labels.collecting-event.verbatim-locality'
                    placeholder='fields.labels.collecting-event.verbatim-locality'
                    value=model.collectingEvent.verbatimLocality

                    class='verbatim'
                }}
            </div>
        </div>
    {{/unless}}
{{/dwcm-field-group}}
