{{#dwcm-field-group title=title identifier=title}}
    {{#unless isCreating}}
        <div class="row">
            <div class="col-xs-12">
                {{action-label
                    label='fields.labels.collecting_event'
                    text='definitions.create-new.1'
                    action=(action 'enableCreate')
                }}
                {{#solr-autocomplete-input
                    entityType='collectingevent'
                    filterKeys='disciplineID'

                    storeName="collecting-event"
                    displayField="givenName"

                    itemSelected=(action "selectedCollectingEvent")

                    class='rich'

                    as |dropdownItem|
                }}
                    <i class='row-icon glyphicon glyphicon-map-marker {{unless dropdownItem.locality.validLocation 'inactive'}}'></i>
                    <p class='regular-row light'>
                        {{if dropdownItem.givenName (concat dropdownItem.givenName ': ')}}
                        {{dropdownItem.locality.geography.displayName}}
                    </p>
                    <p class='regular-row {{if dropdownItem.locality.validLocation 'shrink'}}'>
                        {{if dropdownItem.startDate (concat (moment-format dropdownItem.startDate 'LL') ', ')}}
                        {{dropdownItem.locality.localityName}}
                    </p>
                    {{#if dropdownItem.collectors.length}}
                        <p class='regular-row shrink'>
                            {{#each dropdownItem.collectors as |collector|}}
                                <span class="label label-default">
                                    {{collector.agent.fullName}}
                                </span>
                            {{/each}}
                        </p>
                    {{/if}}
                    <p class='timestamp hidden-xs'>
                        {{t
                            'component.locality-selector.created-by'
                            date=(moment-format dropdownItem.timestampCreated 'LL')
                            name=dropdownItem.agent.fullName
                        }}
                    </p>
                    {{#if dropdownItem.locality.validLocation}}
                        <p class='regular-row right hidden-xs'>
                            <i class="glyphicon glyphicon-map-marker"></i>{{dropdownItem.locality.location}}
                        </p>
                    {{/if}}
                {{/solr-autocomplete-input}}
            </div>
        </div>
        {{#if model.collectingEvent}}
            <div class='row preview'>
                {{#if model.collectingEvent.locality.validLocation}}
                    <div class='col-xs-5'>
                        {{#map-view
                            center=model.collectingEvent.locality.location
                            zoom=10
                        }}
                            {{#marker-layer
                                location=model.collectingEvent.locality.location
                                popupOpen=(readonly true)
                                clickable=false
                            }}
                                <p>
                                    <strong>{{model.collectingEvent.locality.localityName}}</strong>
                                    <br>{{model.collectingEvent.locality.geography.fullName}}
                                </p>
                            {{/marker-layer}}
                        {{/map-view}}
                    </div>
                {{/if}}
                <div class='col-xs-6'>
                    <ul>
                        <li>
                            <span>{{t 'definitions.date'}}:</span> {{moment-format model.collectingEvent.startDate 'LL'}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.collecting-event.method'}}:</span> {{model.collectingEvent.method}}
                        </li>
                        <li>
                            <span>{{t 'definitions.collecting-place' count=1}}:</span> {{model.collectingEvent.locality.localityName}}
                        </li>
                        <li>
                            <span>{{t 'definitions.geography'}}:</span> {{model.collectingEvent.locality.geography.name}}
                        </li>
                        <li>
                            <span>{{t 'definitions.coordinates'}}:</span> {{model.collectingEvent.locality.location}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.collector'}}</span>:
                            {{#each model.collectingEvent.collectors as |collector|}}
                                <span class="label label-default">
                                    {{collector.agent.fullName}}
                                </span>
                            {{/each}}
                        </li>
                    </ul>
                </div>
            </div>
        {{/if}}
    {{else}}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group form-group-sm">
                            <label>
                                {{t 'fields.labels.collecting-event.start-date'}}:
                            </label>
                            {{#bs-datetimepicker
                                updateDate=(action (mut model.collectingEvent.startDate))
                                format='YYYY-MM-DD'
                                forceDateOutput=true
                                maxDate=(now)
                            }}
                                {{
                                    input disabled=disabled class="form-control"
                                    name="Date" placeholder=(t 'fields.placeholder.date-format')
                                }}
                            {{/bs-datetimepicker}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-group-sm">
                            <label>&nbsp;</label>
                            {{#bs-datetimepicker
                                updateDate=(action (mut model.collectingEvent.endDate))
                                format='YYYY-MM-DD'
                                forceDateOutput=true
                                maxDate=(now)
                            }}
                                {{
                                    input disabled=disabled class="form-control"
                                    name="Date" placeholder=(t 'fields.placeholder.date-format')
                                }}
                            {{/bs-datetimepicker}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            width=6

                            placeholder='definitions.date'
                            value=model.collectingEvent.verbatimDate
                            class='verbatim'
                        }}
                    </div>
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            label='fields.labels.collecting-event.method'
                            value=model.collectingEvent.method
                        }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        {{dwcm-textfield
                            label='fields.labels.collecting-event.name'
                            value=model.collectingEvent.givenName
                            labelAction=(action 'selectExisting')
                            actionText='fields.labels.collecting-event.select-existing'
                        }}
                    </div>
                    <div class="col-xs-12">
                        {{#dwcm-autocomplete-textfield
                            label="fields.labels.collector"

                            multiSelect=true

                            storeName="agent"
                            filterField="lastName"
                            displayField="fullName"
                            itemSelected=(action "createCollector")
                        }}
                            <div class="label-group {{if model.collectingEvent.collectors.length '' 'closed'}}">
                                {{#each model.collectingEvent.collectors as |collector|}}
                                    <span class="label label-default">
                                        {{collector.agent.fullName}} <i class="glyphicon glyphicon-remove clickable" {{action 'removeCollector' collector}}></i>
                                    </span>
                                {{/each}}
                            </div>
                        {{/dwcm-autocomplete-textfield}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{locality-selector
                    update=(action 'selectedLocality')
                    item=model.collectingEvent.locality
                }}
            </div>
            <div class="col-xs-12 col-md-12">
                {{dwcm-textfield
                    label='fields.labels.collecting-event.verbatim-locality'
                    placeholder='fields.labels.collecting-event.verbatim-locality'
                    value=model.collectingEvent.verbatimLocality

                    class='verbatim'
                }}
            </div>
        </div>
    {{/unless}}
{{/dwcm-field-group}}
