{{#field-group
    title=title identifier=title counter=model.preparations.length
    as |fieldGroup|
}}
    {{#fieldGroup.content}}
        {{partial partialType}}
        {{attachments-list
            attachments=model.attachments
            remove=(action 'removeAttachment')
        }}
    {{/fieldGroup.content}}

    {{#fieldGroup.toolbar}}
        {{#unless configuration.disableAdd}}
            <button class="btn btn-primary btn-xs" {{action "addPreparation"}}>
                <i class="glyphicon glyphicon-plus"></i>
                {{t 'fields.labels.preparation.add'}}
            </button>
        {{/unless}}
        {{#dropdown-button
            label='definitions.add-comment'
            iconClass='glyphicon-comment'
            class='pull-right' as |db|
        }}
            {{#db.item
                action=(action "addComment")
                disabled=(get (
                    filter-by "isPublic" true (filter-by "ordinal" 0 model.attachments)
                ) "length")
            }}
                {{t 'definitions.comment-field'}}
            {{/db.item}}
            {{#db.item
                action=(action "addComment" "" false)
                disabled=(get (
                    filter-by "isPublic" false (filter-by "ordinal" 0 model.attachments)
                ) "length")
            }}
                {{t 'definitions.comment-field-private'}}
            {{/db.item}}
            {{#db.item
                action=(action "addComment" "verbatim")
                disabled=(get (filter-by "ordinal" 1 model.attachments) "length")
            }}
                {{t 'definitions.verbatim-field'}}
            {{/db.item}}
        {{/dropdown-button}}
    {{/fieldGroup.toolbar}}
{{/field-group}}
