{{#dwcm-field-group
    title=title identifier=title counter=model.preparations.length
}}
    <div class="row">
        {{
            dwcm-textfield width=3
            label='fields.labels.preparation.life-stage'
            value=model.objectAttribute.lifeStage
        }}
        {{
            dwcm-textfield width=2
            label='fields.labels.preparation.age'
            value=model.objectAttribute.age
        }}
        {{
            dwcm-select width=2
            label='fields.labels.preparation.sex'
            value=model.objectAttribute.sex
            options=sexOptions
        }}
        {{
            dwcm-field-placeholder width=2
            label='Antal ind.tot'
            disabled=true
        }}
        {{
            dwcm-textfield width=3
            label='fields.labels.preparation.measurements'
            value=model.objectAttribute.measurements
        }}
    </div>
    {{#each model.preparations as |preparation|}}
        {{form-component/single-preparation
            model=preparation remove=(action 'removePreparation')
        }}
    {{/each}}
    <a class="btn btn-primary btn-xs" {{action "addPreparation"}}>
        <i class="glyphicon glyphicon-plus"></i> Lägg till del/preparation
    </a>
{{/dwcm-field-group}}
