<i class="remove clickable glyphicon glyphicon-remove-circle" {{action "remove"}}></i>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3">
            <label>{{t 'fields.labels.preparation.preparation-type'}}:</label>
            {{pick-list
                model='prep-type' filterKeys='collectionID'
                displayField='name' valueField='id'
                update=(action 'setPreparationType')
            }}
        </div>
        <div class="col-xs-3">
            {{dwcm-textfield
                label='fields.labels.preparation.part'
                value=model.description
            }}
        </div>
        <div class="col-xs-2">
            {{dwcm-textfield
                type='number'
                label='fields.labels.preparation.count'
                value=model.countAmt
            }}
        </div>
        {{#unless configuration.hide.individualsCount}}
            <div class="col-xs-2">
                {{dwcm-textfield
                    type='number'
                    label='component.preparation.individuals-count'
                    value=model.individualsCount
                }}
            </div>
        {{/unless}}
        {{#unless configuration.hide.preparationNumber}}
            <div class="col-xs-2">
                {{dwcm-textfield
                    label='fields.labels.preparation.number'
                    value=model.sampleNumber
                }}
            </div>
        {{/unless}}
    </div>

    <div class="row">
        <div class="col-xs-8">
            {{dwcm-autocomplete-textfield
                label='fields.labels.preparation.storage'

                storeName='storage'

                displayField='fullName'
                filterField='fullName'

                itemSelected=(action 'setStorage')

            }}
        </div>
        <div class="col-xs-4">
            {{dwcm-textfield
                label='fields.labels.preparation.status'
                value=model.status
            }}
        </div>
    </div>
    {{!--
        <div class="row">
            {{dwcm-field-placeholder disabled=true width=8 label='Förvaringssätt'}}
            {{dwcm-field-placeholder disabled=true width=4 label='Kondition'}}
        </div>
    --}}
</div>
