<div class="dwcm-single-determination__header">
    <div class="pull-left dwcm-single-determination__current">
        {{input type='checkbox' checked=model.isCurrent}}
        {{#if displayIndex}}
            <span class="index">{{displayIndex}}.</span>
        {{/if}}
    </div>
    <i
        class="clickable glyphicon glyphicon-remove-circle" {{action "remove"}}
    ></i>
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="definitions.name"

            storeName='taxon'

            displayField='fullName'
            filterField='fullName'
            itemSelected=(action 'setTaxonomy')
        }}
    </div>
    {{#unless configuration.hide.confidence}}
        <div class="col-xs-3">
            {{dwcm-textfield
                label='fields.labels.determination.confidence' value=model.confidence
            }}
        </div>
    {{/unless}}
    {{#unless configuration.hide.method}}
        <div class="col-xs-3">
            {{dwcm-textfield
                label='fields.labels.determination.method' value=model.method
            }}
        </div>
    {{/unless}}
</div>
<div class="row">
    <div class="col-xs-6">
        {{
            dwcm-autocomplete-textfield
            label="fields.labels.determination.determiner"

            storeName='agent'

            displayField='fullName'
            filterField='lastName'
            itemSelected=(action 'setDeterminer')
        }}
    </div>
    <div class="col-md-4 col-xs-6">
        <div class="form-group form-group-sm">
            <label>
                {{t 'definitions.date-descriptive'}}:
            </label>
            {{date-picker
                update=(action 'setDateWithPrecision' 'determinedDate')
                maxDate=(now)
                isValid=(v-get model 'determinedDate' 'isValid')
                validationMessage=(v-get model 'determinedDate' 'message')
            }}
        </div>
    </div>
    {{#unless configuration.hide.typeStatus}}
        <div class="col-md-2 col-xs-6">
            {{dwcm-textfield
                label='fields.labels.determination.type-status'
                value=model.typeStatus
            }}
        </div>
    {{/unless}}
</div>
<div class="row">
    <div class="col-xs-12">
        {{input
            placeholder=(t 'component.single-determination.verbatim-taxon')
            value=model.verbatimTaxon

            class='verbatim form-control input-sm'
        }}
    </div>
</div>