{{#if displayConfirmDialog}}
    {{#modal-dialog
        renderInPlace=true
        targetAttachment="center"
        translucentOverlay=true
        containerClassNames='modal-dialog'
    }}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{t 'component.single-preparation.remove.title'}}
                </h4>
            </div>
            <div class="modal-body">
                {{t 'component.single-preparation.remove.body'}}
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default btn-sm"
                     {{action 'toggleDestroy'}}
                >{{t 'definitions.abort'}}</button>
                <button
                    type="button"
                    class="btn btn-danger btn-sm"
                     {{action 'remove'}}
                >{{t 'definitions.continue'}}</button>
            </div>
        </div>
    {{/modal-dialog}}
{{/if}}

<i class="remove clickable glyphicon glyphicon-remove-circle" {{action 'toggleDestroy'}}></i>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3">
            <label>{{t 'fields.labels.preparation.preparation-type'}}:</label>
            {{pick-list
                model='prep-type' filterKeys='collectionID'
                displayField='name' valueField='id'
                update=(action 'setPreparationType')
            }}
        </div>
        <div class="col-xs-3">
            {{#validation/form-group}}
                <label>{{t 'fields.labels.preparation.part'}}:</label>
                {{input value=model.description class='form-control'}}
            {{/validation/form-group}}
        </div>
        <div class="col-xs-2">
            {{#validation/form-group}}
                <label>{{t 'fields.labels.preparation.count'}}:</label>
                {{input
                    type='number' min=0 value=model.countAmt
                    class='form-control'
                }}
            {{/validation/form-group}}
        </div>
        {{#unless configuration.hide.individualsCount}}
            <div class="col-xs-2">
            {{#validation/form-group}}
                <label>{{t 'component.preparation.individuals-count'}}:</label>
                {{input
                    type='number' min=0 value=model.individualsCount
                    class='form-control'
                }}
            {{/validation/form-group}}
            </div>
        {{/unless}}
        {{#unless configuration.hide.preparationNumber}}
            <div class="col-xs-2">
                {{#validation/form-group}}
                    <label>{{t 'fields.labels.preparation.number'}}:</label>
                    {{input value=model.sampleNumber class='form-control'}}
                {{/validation/form-group}}
            </div>
        {{/unless}}
    </div>

    <div class="row">
        <div class="col-xs-8">
            {{dwcm-autocomplete-textfield
                label='fields.labels.preparation.storage'

                storeName='storage'

                displayField='fullName'
                filterField='fullName'

                itemSelected=(action 'setStorage')

            }}
        </div>
        <div class="col-xs-4">
            {{#validation/form-group}}
                <label>{{t 'fields.labels.preparation.status'}}:</label>
                {{input value=model.status class='form-control'}}
            {{/validation/form-group}}
        </div>
    </div>
    {{!--
        <div class="row">
            {{dwcm-field-placeholder disabled=true width=8 label='Förvaringssätt'}}
            {{dwcm-field-placeholder disabled=true width=4 label='Kondition'}}
        </div>
    --}}
</div>
