<i class="remove clickable glyphicon glyphicon-remove-circle" {{action "remove"}}></i>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3">
            {{
                dwcm-autocomplete-textfield
                label='fields.labels.preparation.preparation-type'

                storeName='prep-type'

                displayField='name'
                filterField='name'

                itemSelected=(action 'setPreparationType')
            }}
        </div>
        {{dwcm-textfield
            width=3 label='fields.labels.preparation.part'
            value=model.description
        }}
        {{dwcm-textfield
            type='number'
            width=3
            label='fields.labels.preparation.count'
            value=model.countAmt
        }}
        {{!--
            {{dwcm-field-placeholder
                disabled=true
                width=2
                label='Antal ind.'
            }}
        --}}
        {{dwcm-textfield
            width=3
            label='fields.labels.preparation.number'
            value=model.sampleNumber
        }}
    </div>
    <div class="row">
        <div class="col-xs-8">
            {{dwcm-autocomplete-textfield
                label='fields.labels.preparation.storage'

                storeName='storage'

                displayField='fullName'
                filterField='fullName'

                itemSelected=(action 'setStorage')

            }}
        </div>
        {{dwcm-textfield
            width=4
            label='fields.labels.preparation.status'
            value=model.status
        }}
    </div>
    {{!--
        <div class="row">
            {{dwcm-field-placeholder disabled=true width=8 label='Förvaringssätt'}}
            {{dwcm-field-placeholder disabled=true width=4 label='Kondition'}}
        </div>
    --}}
</div>
