{{#if isDropdownVisible}}
    <div class="autocomplete-input__dropdown">
        {{#if isResponseSubset}}
            <div class="autocomplete-input__dropdown-subset">
                {{t 'component.autocomplete-input.dropdown.subset'}}
            </div>
        {{/if}}
        <ul class="autocomplete-input__dropdown-list">
            {{#if displayHistory}}
                <li class="previous-selection">
                    <i class="glyphicon glyphicon-time" /> {{t 'component.autocomplete-input.previous-selection'}}
                </li>
                {{#each historyItems as |historyItem index|}}
                    <li data-index={{index}} {{action this.attrs.itemClick historyItem}}>
                        {{#if hasBlock}}
                            {{yield historyItem}}
                        {{else}}
                            {{get historyItem displayField}}
                        {{/if}}
                    </li>
                {{/each}}
            {{else}}
                {{#each data as |preview index|}}
                    <li data-index={{index}} {{action this.attrs.itemClick preview}}>
                        {{#if hasBlock}}
                            {{yield preview}}
                        {{else}}
                            {{get preview displayField}}
                        {{/if}}
                    </li>
                {{else}}
                    <li>{{t 'definitions.no-result'}}</li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
{{/if}}
