<div class="row">
    <div class="col-xs-6">
        {{#validation/form-group}}
            <label>{{t 'component.preparation.preservation-stage'}}:</label>
            {{input
                value=model.objectAttribute.preservationStage
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
    <div class="col-xs-6">
        {{#validation/form-group}}
            <label>{{t 'component.preparation.object-description'}}:</label>
            {{input
                value=model.objectAttribute.description
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
</div>
{{partial 'partial/preparation/list'}}