<div class="row">
    <div class="col-xs-4">
        <label>{{t 'fields.labels.preparation.life-stage'}}</label>
        {{pick-list
            name='dwStage'
            filterKeys='collectionID'
            update=(action (mut model.objectAttribute.lifeStage))
        }}
    </div>
    <div class="col-xs-3">
        <label>{{t 'fields.labels.preparation.age'}}</label>
        {{#validation/form-group}}
            {{input value=model.objectAttribute.age class='form-control'}}
        {{/validation/form-group}}
    </div>
    <div class="col-xs-3">
        <label>{{t 'fields.labels.preparation.sex'}}</label>
        {{pick-list
            name='dwSex'
            filterKeys='collectionID'
            update=(action (mut model.objectAttribute.sex))
        }}
    </div>
</div>
{{partial 'partial/preparation/list'}}
