<div class="row">
    <div class="col-xs-3">
        <label>{{t 'fields.labels.preparation.life-stage'}}:</label>
        {{pick-list
            name='Stage'
            filterKeys='collectionID'
            update=(action (mut model.objectAttribute.lifeStage))
        }}
    </div>
    <div class="col-xs-3">
        <label>{{t 'fields.labels.preparation.sex'}}:</label>
        {{pick-list
            name='Sex'
            filterKeys='collectionID'
            update=(action (mut model.objectAttribute.sex))
        }}
    </div>
    <div class="col-xs-3">
        {{#validation/form-group}}
            <label>{{t 'component.preparation.individuals-count'}}:</label>
            {{input
                value=model.objectAttribute.totalCount
                type='number'
                min=0
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
</div>
{{partial 'partial/preparation/list'}}