<nav class="navbar navbar-default">
    <div class="container logo">
        {{#link-to 'index' class='dwcm-application-logo'}}{{/link-to}}
        {{#link-to "index" class="dwcm-appliciation-brand"}}{{t "main.application_name"}}{{/link-to}}

        {{dwcm-language-selector class="pull-right"}}
        <div class="pull-right user-menu">
            {{#if session.isAuthenticated}}
                <span class="capitalized">{{session.userProfile.fullName}}</span>
                (<a class="clickable" {{action 'invalidateSession'}}>{{t 'definitions.sign-out'}}</a>)
            {{else}}
                {{#link-to 'login'}}
                    {{t 'definitions.sign-in'}}
                {{/link-to}}
            {{/if}}
        </div>
    </div>
    <div class="container dwcm-secondary-navigation">
        <ul class="nav navbar-nav">
            {{#link-to "index" tagName="li"}}
                <a>{{t "navigation.start"}}</a>
            {{/link-to}}
            <!--
            <li>
                <a href="#">{{t "navigation.collections"}}</a>
            </li>
            -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{t "navigation.collection.root"}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{#link-to "collection" tagName="li"}}
                        <a href="#">{{t "navigation.collection.list"}}</a>
                    {{/link-to}}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{t "navigation.collection_object.root"}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{#link-to "collectionobject" tagName="li"}}
                        <a href="#">{{t "navigation.collection_object.list"}}</a>
                    {{/link-to}}
                    {{#link-to "collectionobject.new" tagName="li"}}
                        <a href="#">{{t "navigation.collection_object.add"}}</a>
                    {{/link-to}}
                </ul>
            </li>
      </ul>
      <!--
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{t 'navigation.search.input'}}">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
      </form>
      -->
    </div>
</nav>
{{outlet}}
