<div style="padding-top: 0px; padding-bottom:0px;" class="jumbotron container">
    <h1 style="font-size: 39px;">{{t 'beta.header'}}</h1>
    <p><i>{{t 'beta.header'}}</i> {{t 'beta.intro'}}</p>
</div>

<div class="panel panel-default container">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h2>{{t 'beta.information.header'}}</h2>
                <p>{{t 'beta.information.body.1'}}</p>
                <p>{{t 'beta.information.body.2'}}</p>
                <div class="thumbnail">
                    <img src="/get-started.png">
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{t 'beta.sprint.header'}}</h2>
                        <p>{{t 'beta.sprint.body'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{t 'beta.feedback.header'}}</h2>
                        <p>{{t 'beta.feedback.body'}}</p>
                        <p>
                            {{#if session.isAuthenticated}}
                                {{#if session.userProfile.isFocusGroupMember}}
                                    <!-- Focus group feedback form -->
                                    <a class="btn btn-warning" href="http://goo.gl/forms/kzsPiFfLmJ" target="blank" role="button">{{t 'beta.feedback.button'}} &raquo;</a>
                                {{else}}
                                    <!-- Public feedback form -->
                                    <a class="btn btn-success" href="http://goo.gl/forms/qiTUMlGrftc8pnxE3" target="blank" role="button">{{t 'beta.feedback.button'}} &raquo;</a>
                                {{/if}}
                            {{else}}
                                <i>{{t 'beta.feedback.sign-in'}}</i>
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>{{t 'beta.changes.header'}}</h2>
                {{#each sprints as |sprint|}}
                    <h4>{{t (concat 'beta.changes.' sprint '.date')}}</h4>
                    <ul>
                        {{t (concat 'beta.changes.' sprint '.body')}}
                    </ul>
                {{/each}}
            </div>
        </div>
    </div>
</div>
